[submodule "imx-atf"]
	path = imx-atf
	url = git://source.codeaurora.org/external/imx/imx-atf.git
	branch = imx_5.4.70_2.3.0
[submodule "imx-mkimage"]
	path = imx-mkimage
	url = https://source.codeaurora.org/external/imx/imx-mkimage
	branch = imx_5.4.70_2.3.0
[submodule "imx-optee-os"]
	path = imx-optee-os
	url = git://source.codeaurora.org/external/imx/imx-optee-os.git
	branch = imx_5.4.24_2.1.0
[submodule "u-boot"]
	path = u-boot
	url = git@github.com:data-respons-solutions/dr-u-boot-mirror.git
	branch = dr-sdb8000-imx_v2020.04_5.4.70_2.3.0
