[submodule "imx-atf"]
	path = imx-atf
	url = git://source.codeaurora.org/external/imx/imx-atf.git
	branch = imx_5.4.70_2.3.0
[submodule "imx-mkimage"]
	path = imx-mkimage
	url = https://source.codeaurora.org/external/imx/imx-mkimage
	branch = imx_5.4.70_2.3.0
[submodule "u-boot-dr"]
	path = u-boot-dr
	url = git@github.com:data-respons-solutions/u-boot-dr.git
